<h1>Order Confirmation</h1>

<div class="well">
  <h2>Order #: 57600<%= @order.id %></h2>

  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @order.carted_products.each do |carted_product| %>
      <tr>
        <td><%= carted_product.product.name %></td>
        <td><%= carted_product.quantity %></td>
        <td><%= number_to_currency(carted_product.product.price) %></td>
      </tr>
    <% end %>
    <tr id="total-line">
      <td></td>
      <td>Subtotal</td>
      <td><%= number_to_currency(@order.subtotal) %></td>
    </tr>
    <tr>
      <td></td>
      <td>Tax</td>
      <td><%= number_to_currency(@order.tax) %></td>
    </tr>
    <tr>
      <td></td>
      <td>Total</td>
      <td><%= number_to_currency(@order.total) %></td>
    </tr>
  </table>
</div>