<h1>Checkout Page</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
  </tr>
  <% @carted_products.each do |carted_product| %>
    <tr>
      <td><%= carted_product.product.name %></td>
      <td><%= carted_product.quantity %></td>
      <td><%= number_to_currency(carted_product.product.price) %></td>
      <td><%= link_to "remove", "/carted_products/#{ carted_product.id }", method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Buy Now!", "/orders", method: :post, class: "btn btn-success" %>