<section>      
  <div class="row">           
    <div class="col-sm-8 col-sm-offset-2">         
      <div class="product_single row">           
        <h2><%= @product.name %></h2>           
        <div class="col-md-6">             
          <% if@product.discounted? %>               
            <h4>Discount Item!</h4>             
          <% else %>               
            <h4>Everyday Value!!</h4>             
          <% end %>
            <p class="<%= "red-price" if @product.discounted? %>">Price: <%= number_to_currency(@product.price) %></p>
             <p>Tax: <%= number_to_currency(@product.tax) %></p>
             <p>Total: <%= number_to_currency(@product.total) %></p>
             <p>Description: <%= @product.description %></p>
             <p>Categories: <%= @product.stringify_categories %></p>
           </div>

          <div class="col-md-6">
            <% @product.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= image.name %>" class="img-responsive show-product">
              <%= link_to "delete", "/images/#{image.id}", data:{confirm: "Are you sure you want to delete this photo?", method: :delete} %>
            <% end %>
          </div>

          <%= form_tag "/carted_products", method: :post do %>
            <div>
              <%= label_tag :quantity %>
              <%= text_field_tag :quantity%>
            </div>

            <%= hidden_field_tag :product_id, @product.id %>
            <%= submit_tag "Add To Cart", class: "btn btn-primary" %>
          <% end %>


          <h5>supplied by <%= @product.supplier.name %></h5>
          
          <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
          <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
          <%= link_to "Add Photo", "/products/#{@product.id}/images/new", class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  </section>