<h1>Edit Supplier</h1>

<%= form_tag "/suppliers/#{@supplier.id}", method: :patch do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @supplier.name %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, @supplier.email %>
  </div>
  <div>
    <%= label_tag :phone %>
    <%= text_field_tag :phone, @supplier.phone %>
  </div>
  <%= submit_tag "Update Supplier", class: "btn btn-primary" %>
<% end -%>